html {
    background-color: rgb(246, 241, 235);
}

.body {
    width: auto;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    width: auto;
    align-content: center;
    flex-direction: column;
}

.header {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Georgia, "Times New Roman", Times, serif sans-serif;
    font-size: 3em;
    font-weight: 400;
}

.settings {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.clue {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    background-color: skyblue;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

.canvas {
    width: 1204px;
    height: 804px;
    display: flex;
    justify-content: flex-start;
}

.crossword-grid {
    width: 804px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.clueList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid gray;
    margin-left: 0px;
}

.clueList ul {
    list-style-type: none;
    margin-left: 0px;
}

/*does nothing*/
ul li {
    display: block;
    padding-inline: 0px;
}

.across {
    width: 180px;
    border: 1px solid gray;
}

.down {
    width: 180px;
    border: 1px solid gray;
}

.list {
    font-size: small;
}

h1 {
    font-weight: 200;
}

.highlight-primary {
    background-color: #87ceeb;
    font-weight: 700;
}

.highlight-secondary {
    font-weight: 700;
}
